.header {
  display: flex;
  align-items: center;
  height: 48px;
}

.header ul {
  padding-left: 0;
  display: flex;
  align-items: center;
}

.header nav {
  flex: 1;
}

.header li {
  position: relative;
  list-style: none;
  cursor: pointer;
  height: 10px;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-text);
}

.header li:hover::after {
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-text);
  animation: underline 0.3s ease-in-out forwards;
  -webkit-animation: underline 0.3s ease-in-out forwards;
}

@keyframes underline {
  from {
    width: 0%;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0;
  }
}
