.header {
  display: flex;
  align-items: center;
  height: 48px;
}

.header ul {
  padding-left: 0;
  display: flex;
  align-items: center;
}

.header__nav {
  flex: 1;
}

.header li {
  position: relative;
  list-style: none;
  cursor: pointer;
  height: 10px;
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-2);
  color: var(--color-text);
}

/* .header li 클래스를 가진 엘리먼트는 빨간 색깔의 "new"라는 작은 글씨를 가진다 */
.header__nav li::before {
  content: 'new';
  /* red계열 요즘 많이 쓰는 색상 */
  color: #ff0000;
  font-size: var(--font-size--1);
  margin-right: var(--spacing-1);
  position: absolute;
  top: -10px;
  right: -20px;
}

.header__nav li:not(.clicked):hover::after {
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-text);
  animation: underline 0.3s ease-in-out forwards;
  -webkit-animation: underline 0.3s ease-in-out forwards;
}

.header__nav li .clicked::after {
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-text);
  animation: underline 0.3s ease-in-out forwards;
  -webkit-animation: underline 0.3s ease-in-out forwards;
}

.header__nav li.clicked::after {
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-text);
}

.table-of-content {
}
