.header {
  display: flex;
  align-items: center;
  height: 48px;
}

.header ul {
  padding-left: 0;
  display: flex;
  align-items: center;
}

.header__nav {
  flex: 1;
}

.header li {
  list-style: none;
  cursor: pointer;
  height: 10px;
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-2);
}

.header__nav li:not(.clicked):hover::after {
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-text);
  animation: underline 0.3s ease-in-out forwards;
  -webkit-animation: underline 0.3s ease-in-out forwards;
}

.header__nav li .clicked::after {
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-text);
  animation: underline 0.3s ease-in-out forwards;
  -webkit-animation: underline 0.3s ease-in-out forwards;
}

.header__nav li.clicked::after {
  content: '';
  display: block;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color-text);
}
