.post-list + .post-list {
  margin-top: 100px;
}

.post-list-item {
  display: flex;
}

.post-list-item {
  margin-top: var(--spacing-6);
}

.post-list-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-list-item-date {
  color: var(--color-text);
}

.post-list-item-description {
  color: var(--color-text-light);
  margin-bottom: var(--spacing-3);
}

body.dark .post-list-item-description {
  color: var(--color-text-light);
}

/* mobile */
@media (max-width: 768px) {
  .post-list .post-title {
    font-size: var(--fontSize-2);
  }

  .post-list-item-description {
    font-size: var(--fontSize-0);
    margin-bottom: var(--spacing-1);
  }

  .post-list-item {
    display: flex;
    flex-direction: column;
  }
}

.post-title {
  font-size: var(--fontSize-4);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
  position: relative;
  color: var(--color-primary);
}
