.blog-post-title {
  color: #30a2ff;
  font-size: var(--fontSize-4);
  font-weight: var(--fontWeight-bold);
}

@media (max-width: 768px) {
  .blog-post-title {
    font-size: var(--fontSize-3);
  }
}

.blog-post section h1 {
  font-size: var(--fontSize-4);
  font-weight: var(--fontWeight-bold);
}

.blog-post section h2 {
  font-size: var(--fontSize-3);
}

.blog-post section h3 {
  font-size: var(--fontSize-2);
}

.blog-post .language-text {
  font-weight: var(--fontWeight-bold);
  background: none;
  position: relative;
}

.blog-post .language-text::after {
  position: absolute;
  content: "";
  display: block;
  opacity: 0.3;
  left: 0;
  bottom: 3px;
  width: 100%;
  border-bottom: 15px solid #30a2ff;
  animation: underline 0.3s ease-in-out forwards;
  -webkit-animation: underline 0.3s ease-in-out forwards;
}
