.post-list-wrapper {
  margin-top: 20px;
}
.post-list + .post-list {
  margin-top: 100px;
}

.post-list-item {
  display: flex;
}

.post-list-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-list-item-date {
  color: #4f5969;
}

.post-list-item-description {
  margin-bottom: var(--spacing-3);
}

/* mobile */
@media (max-width: 768px) {
  .post-list .post-title {
    font-size: var(--fontSize-2);
  }

  .post-list-item-description {
    font-size: var(--fontSize-0);
    margin-bottom: var(--spacing-1);
  }

  .post-list-item {
    display: flex;
    flex-direction: column;
  }
}
